<!doctype html>
<html lang="ru" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png?v=9B0AxQobae">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png?v=9B0AxQobae">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png?v=9B0AxQobae">
    <link rel="manifest" href="../favicon/site.webmanifest?v=9B0AxQobae">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg?v=9B0AxQobae" color="#303ff0">
    <link rel="shortcut icon" href="../favicon/favicon.ico?v=9B0AxQobae">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="../favicon/browserconfig.xml?v=9B0AxQobae">
    <meta name="theme-color" content="#ffffff">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=aad1d6d9-9640-4750-90e9-5fc4f43c303a"
        type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/a54d2cbf95.js"></script>
</head>

<body class="page">
    <header class="header">
        <div class="header__line header__line--top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-md-auto">
                        <a href="/" class="header__logo logo d-flex">
                            <img src="../img/logo.svg" alt="Прачка Сочи">
                        </a>
                    </div>
                    <div class="col d-none d-md-flex justify-content-center">
                        <a href="tel:+79302333332" class="header__tel">+7 <span>(930)</span> 23 33 332</a>
                    </div>
                    <div class="col d-none d-lg-flex justify-content-center align-items-center">
                        <div class="header__text">Рассчитать заказ:</div>
                        <div class="social-network">
                            <ul class="social-network__list list">
                                <li class="social-network__list-item">
                                    <a href="#" class="social-network__image" target="_blank">
                                        <img src="../img/icons/social-wp.svg" alt="">
                                    </a>
                                </li>
                                <li class="social-network__list-item">
                                    <a href="#" class="social-network__image" target="_blank">
                                        <img src="../img/icons/social-vb.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <a href="/" class="button shop-cart">
                            <span class="shop-cart__inner">
                                <span class="shop-cart__header">
                                    <span class="shop-cart__image"></span>
                                    <span class="shop-cart__balloon" data-total-count>0</span>
                                </span>
                                <span class="shop-cart__main">
                                    <span class="shop-cart__text"><span data-total-price>0</span> р</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col col-lg-auto d-none d-md-block">
                        <a id="myBtn" href="#" class="header__button button button--color-pink button--theme-default">
                            <span class="button__text">Оставить заявку</span>
                        </a>
                    </div>
                    <div class="col-auto d-lg-none">
                        <button data-drawer="drawer" class="hamburger hamburger--3dx d-flex js-hamburger" type="button">
                            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__line header__line--bottom d-none d-lg-block">
            <div class="container">
                <nav class="nav">
                    <ul class="nav__list list">
                        <li class="nav__list-item">
                            <a href="#" class="nav__link">Тарифы</a>
                        </li>
                        <li class="nav__list-item">
                            <a href="" class="nav__link">Все услуги</a>
                        </li>
                        <li class="nav__list-item">
                            <a href="./pray-list.html" class="nav__link">Прайс-лист</a>
                        </li>
                        <li class="nav__list-item">
                            <a href="./b2b.html" class="nav__link">B2B</a>
                        </li>
                        <li class="nav__list-item">
                            <a href="./feedback.html" class="nav__link">Отзывы</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="section-policy">
            <div class="container">
                <h1 class="text text--md font-weight-bold mb-4">Политика конфиденциальности</h1>
                <div class="content">
                    <p>1. Общие положения</p>
                    <p>1.1. Настоящая Политика в отношении обработки персональных данных (далее - «Политика»)
                        подготовлена
                        в соответствии с Федеральным законом Российской Федерации «О персональных данных» №152-ФЗ от 27
                        июля
                        2006 года (далее - «Закон») и определяет позицию Компании в области обработки и защиты
                        персональных
                        данных (далее - «Данные»), соблюдения прав и свобод каждого человека и, в особенности, права на
                        неприкосновенность частной жизни, личную и семейную тайну.</p>
                    <p>2. Область применения</p>
                    <p>2.1. Настоящая Политика распространяется на Данные, полученные как до, так и после ввода в
                        действие
                        настоящей Политики.</p>
                    <p>2.2. Понимая важность и ценность Данных, а также заботясь о соблюдении конституционных прав
                        граждан
                        Российской Федерации и граждан других государств, Компания обеспечивает надежную защиту Данных.
                    </p>
                    <p>3. Определения</p>
                    <p>3.1. Данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому
                        физическому лицу (гражданину), к такой информации, в частности, относятся: ФИО, год, месяц, дата
                        и
                        место рождения, адрес, сведения о семейном, социальном, имущественном положении, сведения об
                        образовании, профессии, доходах, номер телефона, адрес электронной почты для связи, информация о
                        кандидатах на вакантные должности, оставленная такими кандидатами при заполнение анкеты, включая
                        информацию, содержащуюся в резюме кандидата, а также другая информация.</p>
                    <p>3.2. Обработка Данных - любое действие (операция) или совокупность действий (операций) с Данными,
                        совершаемых с использованием средств автоматизации и/или без использования таких средств. К
                        таким
                        действиям (операциям) относятся: сбор, запись, систематизация, накопление, хранение, уточнение
                        (обновление, изменение), извлечение, использование, передача (распространение, предоставление,
                        доступ), обезличивание, блокирование, удаление, уничтожение Данных.</p>
                    <p>3.3. Безопасность Данных - защита Данных от неправомерного и/или несанкционированного доступа к
                        ним,
                        уничтожения, изменения, блокирования, копирования, предоставления, распространения Данных, а
                        также
                        от иных неправомерных действий в отношении Данных.</p>
                    <p>4. Правовые основания и цели обработки Данных</p>
                    <p>4.1. Обработка и обеспечение безопасности Данных в Компании осуществляется в соответствии с
                        требованиями Конституции Российской Федерации, Закона, Трудового кодекса Российской Федерации,
                        подзаконных актов, других определяющих случаи и особенности обработки Данных федеральных законов
                        Российской Федерации.</p>
                    <p>4.2. Субъектами Данных, обрабатываемых Компанией, являются:</p>
                    <p>1) Клиенты - потребители, в т.ч. посетители сайта https://xn--80aaygvchl5ce.xn--p1ai/ (далее -
                        «Сайт») в том числе с целью оформления обратного звонка, консультации, получатели услуг, которые
                        предоставляет Сайт;</p>
                    <p>4.2. Компания осуществляет обработку Данных субъектов в следующих целях:</p>
                    <p>- осуществления возложенных на Компанию законодательством Российской Федерации функций,
                        полномочий и
                        обязанностей в соответствии с федеральными законами, в том числе, но не ограничиваясь:
                        Гражданским
                        кодексом Российской Федерации, Налоговым кодексом Российской Федерации, Трудовым кодексом
                        Российской
                        Федерации, Семейным кодексом Российской Федерации, Федеральным законом от 01.04.1996 г. № 27-ФЗ
                        «Об
                        индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования»,
                        Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», Федеральным законом от
                        28.03.1998 г. № 53-ФЗ «О воинской обязанности и военной службе», Федеральным законом от
                        26.02.1997
                        г. № 31-ФЗ «О мобилизационной подготовке и мобилизации в Российской Федерации», Федеральным
                        законом
                        от 8.02.1998 г. №14-ФЗ «Об обществах с ограниченной ответственностью», Федеральным законом от
                        07.02.1992 №2300-1 «О защите прав потребителей», Федеральным законом от 21.11.1996 г. № 129-ФЗ
                        «О
                        бухгалтерском учете», Федеральным законом от 29.11.2010 г. № 326-ФЗ «Об обязательном медицинском
                        страховании в Российской Федерации», а также уставом и локальными актами Компании.</p>
                    <p>4.3. Контрагентов-физических лиц в целях:</p>
                    <p>- заключения и исполнения договора, одной из сторон которого является физическое лицо;</p>
                    <p>-рассмотрения возможностей дальнейшего сотрудничества.</p>
                    <p>4.4. Представителей юридических лиц - контрагентов Компании в целях:</p>
                    <p>- ведения переговоров, заключение и исполнение договоров, по которым предоставляются Данные
                        работников такого юридического лица для целей исполнения договора по различным направлениям
                        хозяйственной деятельности Компании.</p>
                    <p>4.5. Физических лиц, Данные которых обрабатываются в интересах третьих лиц - операторов Данных на
                        основании договора (поручения операторов Данных) в целях:</p>
                    <p>- исполнения договоров - поручений операторов Данных;</p>
                    <p>- исполнения требований законодательства Российской Федерации;</p>
                    <p>-участия в корпоративных мероприятиях.</p>
                    <p>4.6. Клиентов - потребителей в целях:</p>
                    <p>- предоставления информации по услугам, консультации и специальным предложениям;</p>
                    <p>- анализа качества предоставляемого Компанией сервиса и улучшению качества обслуживания клиентов
                        Компании; информирования о статусе предоставляемой услуги;</p>
                    <p>- предоставления услуг по изготовлению, доставке, установке заказанных/согласованных товаров, а
                        также
                        учета оказанных потребителям услуг для осуществления взаиморасчетов.</p>
                    <p>5. Принципы и условия обработки Данных</p>
                    <p>5.1. При обработке Данных Компания придерживается следующих принципов:</p>
                    <p>1) Обработка Данных осуществляется на законной и справедливой основе;</p>
                    <p>2) Данные не раскрываются третьим лицам и не распространяются без согласия субъекта Данных, за
                        исключением случаев, требующих раскрытия Данных по запросу уполномоченных государственных
                        органов,
                        судопроизводства;</p>
                    <p>3) Определение конкретных законных целей до начала обработки (в т.ч. сбора) Данных;</p>
                    <p>4) Ведется сбор только тех Данных, которые являются необходимыми и достаточными для заявленной
                        цели
                        обработки;</p>
                    <p>5) Объединение баз данных, содержащих Данные, обработка которых осуществляется в целях,
                        несовместимых
                        между собой не допускается;</p>
                    <p>6) Обработка Данных ограничивается достижением конкретных, заранее определенных и законных целей;
                    </p>
                    <p>7) Обрабатываемые Данные подлежат уничтожению или обезличиванию по достижению целей обработки или
                        в
                        случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным
                        законом.</p>
                    <p>5.2. Компания может включать Данные субъектов в общедоступные источники Данных, при этом Компания
                        берет письменное согласие субъекта на обработку его Данных.</p>
                    <p>5.3. Компания не осуществляет обработку Данных, касающихся расовой, национальной принадлежности,
                        политических взглядов, религиозных, философских и иных убеждений, интимной жизни, членства в
                        общественных объединениях, в том числе в профессиональных союзах.</p>
                    <p>5.4. Биометрические Данные (сведения, которые характеризуют физиологические и биологические
                        особенности человека, на основании которых можно установить его личность и которые используются
                        оператором для установления личности субъекта Данные) в Компании не обрабатываются.</p>
                    <p>5.5. Компания не осуществляет трансграничную передачу Данных.</p>
                    <p>5.6. В случаях, установленных законодательством Российской Федерации, Компания вправе
                        осуществлять
                        передачу Данных третьим лицам (федеральной налоговой службе, государственному пенсионному фонду
                        и
                        иным государственным органам) в случаях, предусмотренных законодательством Российской Федерации.
                    </p>
                    <p>5.7. Компания вправе поручить обработку Данных субъектов Данных третьим лицам, на основании
                        заключаемого с этими лицами договора.</p>
                    <p>5.8. Лица, осуществляющие обработку Данных на основании заключаемого с Компанией договора
                        (поручения
                        оператора), обязуются соблюдать принципы и правила обработки и защиты Данных, предусмотренные
                        Законом. Для каждого третьего лица в договоре определяются перечень действий (операций) с
                        Данными,
                        которые будут совершаться третьим лицом, осуществляющим обработку Данных, цели обработки,
                        устанавливается обязанность такого лица соблюдать конфиденциальность и обеспечивать безопасность
                        Данных при их обработке, указываются требования к защите обрабатываемых Данных в соответствии с
                        Законом.</p>
                    <p>5.9. В целях исполнения требований действующего законодательства Российской Федерации и своих
                        договорных обязательств обработка Данных в Компании осуществляется, как с использованием, так и
                        без
                        использования средств автоматизации. Совокупность операций обработки включает сбор, запись,
                        систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                        использование,
                        передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение Данных.
                    </p>
                    <p>5.10. В Компании запрещается принятие на основании исключительно автоматизированной обработки
                        Данных
                        решений, порождающих юридические последствия в отношении субъекта Данных или иным образом
                        затрагивающих его права и законные интересы, за исключением случаев, предусмотренных
                        законодательством Российской Федерации.</p>
                    <p>6. Права и обязанности субъектов Данных, а также Компании в части обработки Данных</p>
                    <p>6.1. Субъект, Данные которого обрабатываются Компанией, имеет право получать от Компании:</p>
                    <p>1) Подтверждение факта обработки Данных и сведения о наличии Данных, относящихся к
                        соответствующему
                        субъекту Данных;</p>
                    <p>2) Сведения о правовых основаниях и целях обработки Данных;</p>
                    <p>3) Сведения о применяемых Компанией способах обработки Данных;</p>
                    <p>4) Сведения о наименовании и местонахождении Компании;</p>
                    <p>5) Сведения о лицах (за исключением работников Компании), которые имеют доступ к Данным или
                        которым
                        могут быть раскрыты Данные на основании договора с Компанией или на основании федерального
                        закона;</p>
                    <p>6) Перечень обрабатываемых Данных, относящихся к субъекту Данных, и информацию об источнике их
                        получения, если иной порядок предоставления таких Данных не предусмотрен федеральным законом;
                    </p>
                    <p>7) Сведения о сроках обработки Данных, в том числе о сроках их хранения;</p>
                    <p>8) Сведения о порядке осуществления субъектом Данных прав, предусмотренных Законом;</p>
                    <p>9) Наименование (Ф.И.О.) и адрес лица, осуществляющего обработку Данных по поручению Компании;
                    </p>
                    <p>10) Иные сведения, предусмотренные Законом или другими нормативно-правовыми актами Российской
                        Федерации; требовать от Компании уточнения своих Данных, их блокирования или уничтожения в
                        случае,
                        если Данные являются неполными, устаревшими, неточными, незаконно полученными или не являются
                        необходимыми для заявленной цели обработки;</p>
                    <p>11) Отозвать свое согласие на обработку Данных в любой момент;</p>
                    <p>12) Требовать устранения неправомерных действий Компании в отношении его Данных;</p>
                    <p>13) Обжаловать действия или бездействие Компании в Федеральную службу по надзору в сфере связи,
                        информационных технологий и массовых коммуникаций (Роскомнадзор) или в судебном порядке в
                        случае,
                        если субъект Данных считает, что Компания осуществляет обработку его Данных с нарушением
                        требований
                        Закона или иным образом нарушает его права и свободы;</p>
                    <p>14) На защиту своих прав и законных интересов, в том числе на возмещения убытков и/или
                        компенсацию
                        морального вреда в судебном порядке.</p>
                    <p>6.2. Компания в процессе обработки Данных обязана:</p>
                    <p>1) Предоставлять субъекту Данных по его запросу информацию, касающуюся обработки его Данных, либо
                        на
                        законных основаниях предоставить отказ в течение тридцати дней с даты получения запроса субъекта
                        Данных или его представителя; разъяснить субъекту Данных юридические последствия отказа
                        предоставить
                        Данные, если предоставление Данных является обязательным в соответствии с федеральным законом;
                    </p>
                    <p>до начала обработки Данных (если Данные получены не от субъекта Данных) предоставить субъекту
                        Данных
                        следующую информацию, за исключением случаев, предусмотренных частью 4 статьи 18 Закона:</p>
                    <p>- наименование либо фамилия, имя, отчество и адрес Компании или ее представителя;</p>
                    <p>- цель обработки Данных и ее правовое основание;</p>
                    <p>- предполагаемые пользователи Данных;</p>
                    <p>- установленные Законом права субъектов Данных;</p>
                    <p>- источник получения Данных.</p>
                    <p>2) Принимать необходимые правовые, организационные и технические меры или обеспечивать их
                        принятие
                        для защиты Данных от неправомерного или случайного доступа к ним, уничтожения, изменения,
                        блокирования, копирования, предоставления, распространения Данных, а также от иных неправомерных
                        действий в отношении Данных;</p>
                    <p>3) Опубликовать в сети Интернет и обеспечить неограниченный доступ с использованием сети Интернет
                        к
                        документу, определяющему его политику в отношении обработки Данных, к сведениям о реализуемых
                        требованиях к защите Данных;</p>
                    <p>4) Предоставить субъектам Данных и/или их представителям безвозмездно возможность ознакомления с
                        Данными при обращении с соответствующим запросом в течение 30 дней с даты получения подобного
                        запроса;</p>
                    <p>5) Осуществить блокирование неправомерно обрабатываемых Данных, относящихся к субъекту Данных,
                        или
                        обеспечить их блокирование (если обработка Данных осуществляется другим лицом, действующим по
                        поручению Компании) с момента обращения или получения запроса на период проверки, в случае
                        выявления
                        неправомерной обработки Данных при обращении субъекта Данных или его представителя либо по
                        запросу
                        субъекту Данных или его представителя либо уполномоченного органа по защите прав субъектов
                        персональных данных;</p>
                    <p>6) Уточнить Данные либо обеспечить их уточнение (если обработка Данных осуществляется другим
                        лицом,
                        действующим по поручению Компании) в течение 7 рабочих дней со дня представления</p>
                    <p>сведений и снять блокирование Данных, в случае подтверждения факта неточности Данных на основании
                        сведений, представленных субъектом Данных или его представителем;</p>
                    <p>7) Прекратить неправомерную обработку Данных или обеспечить прекращение неправомерной обработки
                        Данных лицом, действующим по поручению Компании, в случае выявления неправомерной обработки
                        Данных,
                        осуществляемой Компанией или лицом, действующим на основании договора с Компанией, в срок, не
                        превышающий 3 рабочих дней с даты этого выявления;</p>
                    <p>8) Прекратить обработку Данных или обеспечить ее прекращение (если обработка Данных
                        осуществляется
                        другим лицом, действующим по договору с Компанией) и уничтожить Данные или обеспечить их
                        уничтожение
                        (если обработка Данных осуществляется другим лицом, действующим по договору с Компанией) по
                        достижения цели обработки Данных, если иное не предусмотрено договором, стороной которого,
                        выгодоприобретателем или поручителем по которому является субъект Данных, в случае достижения
                        цели
                        обработки Данных;</p>
                    <p>9) Прекратить обработку Данных или обеспечить прекращение и уничтожить Данные или обеспечить их
                        уничтожение в случае отзыва субъектом Данных согласия на обработку Данных, если Компания не
                        вправе
                        осуществлять обработку Данных без согласия субъекта Данных.</p>
                    <p>7. Требования к защите Данных</p>
                    <p>7.1. Компания при обработке Данных принимает необходимые правовые, организационные и технические
                        меры
                        для защиты Данных от неправомерного и/или несанкционированного доступа к ним, уничтожения,
                        изменения, блокирования, копирования, предоставления, распространения Данных, а также от иных
                        неправомерных действий в отношении Данных.</p>
                    <p>8. Сроки обработки (хранения) Данных</p>
                    <p>8.1. Сроки обработки (хранения) Данных определяются исходя из целей обработки Данных, в
                        соответствии
                        со сроком действия договора с субъектом Данных, требованиями федеральных законов, требованиями
                        операторов Данных, по поручению которых Компания осуществляет обработку Данных, основными
                        правилами
                        работы архивов организаций, сроками исковой давности.</p>
                    <p>8.2. Данные, срок обработки (хранения) которых истек, должны быть уничтожены, если иное не
                        предусмотрено федеральным законом. Хранение Данных после прекращения их обработки допускается
                        только
                        после их обезличивания.</p>
                    <p>9. Порядок получения разъяснений по вопросам обработки Данных</p>
                    <p>9.1. Лица, чьи Данные обрабатываются Компанией, могут получить разъяснения по вопросам обработки
                        своих Данных, путем направления соответствующего письменного запроса на электронную почту:</p>
                    <p>order@прачкасочи.рф</p>
                    <p>9.2. В случае направления официального запроса в Компанию в тексте запроса необходимо указать:
                    </p>
                    <p>- фамилию, имя, отчество субъекта Данных или его представителя;</p>
                    <p>- номер основного документа, удостоверяющего личность субъекта Данных или его представителя,
                        сведения
                        о дате выдачи указанного документа и выдавшем его органе;</p>
                    <p>-сведения, подтверждающие наличие у субъекта Данных отношений с Компанией; информацию для
                        обратной
                        связи с целью направления Компанией ответа на запрос;</p>
                    <p>- подпись субъекта Данных (или его представителя).</p>
                    <p>9.3. Если запрос отправляется в электронном виде, то он должен быть оформлен в виде электронного
                        документа и подписан электронной подписью в соответствии с законодательством Российской
                        Федерации.</p>
                    <p>10. Особенности обработки и защиты Данных, собираемых Компанией с использованием сети Интернет
                    </p>
                    <p>10.1. Компания обрабатывает и защищает Данные, поступающие от пользователей Сайта.</p>
                    <p>10.2.Сбор Данных. Существуют два основных способа, с помощью которых Компания получает Данные с
                        помощью сети Интернет:</p>
                    <p>1) Предоставление Данных:</p>
                    <p>Предоставление Данных (включая фамилию, имя, должность, место работы, должность, контактный
                        телефон,
                        адрес электронной почты, адрес и др.) субъектами Данных путем заполнения соответствующих форм на
                        Сайте и посредством направления электронных писем на корпоративные адреса Компании.</p>
                    <p>2) Автоматически собираемая информация:</p>
                    <p>Компания может собирать и обрабатывать сведения, не являющимися персональными данными:</p>
                    <p>- информацию об интересах пользователей на Сайте на основе введенных поисковых запросов
                        пользователей
                        Сайта о реализуемых и предлагаемых к продаже товаров Компанией с целью предоставления актуальной
                        информации клиентам Компании при использовании Сайта, а также обобщения и анализа информации, о
                        том
                        какие разделы Сайта и товары пользуются наибольшим спросом у клиентов Компании;</p>
                    <p>- обработка и хранение поисковых запросов пользователей Сайта с целью обобщения и создания
                        клиентской
                        статистики об использовании разделов Сайта.</p>
                    <p>Компания автоматически получает некоторые виды информации, получаемой в процессе взаимодействия
                        пользователей с Сайтом, переписки по электронной почте и т. п. Речь идет о технологиях и
                        сервисах,
                        таких как веб-протоколы, веб-отметки, а также приложения и инструменты указанной третьей
                        стороны.</p>
                    <p>10.3. Использование Данных:</p>
                    <p>Компания вправе пользоваться предоставленными Данными в соответствии с заявленными целями их
                        сбора
                        при наличии согласия субъекта Данных, если такое согласие требуется в соответствии с
                        требованиями
                        законодательства Российской Федерации в области Данных.</p>
                    <p>Полученные Данные в обобщенном и обезличенном виде могут использоваться для лучшего понимания
                        потребностей покупателей товаров и услуг, реализуемых Компанией и улучшения качества
                        обслуживания.</p>
                    <p>10.4. Передача Данных</p>
                    <p>Компания может поручать обработку Данных третьим лицам исключительно с согласия субъекта Данных.
                        Также Данные могут передаваться третьим лицам в следующих случаях:</p>
                    <p>а) В качестве ответа на правомерные запросы уполномоченных государственных органов, в
                        соответствии с
                        законами, решениями суда и пр.</p>
                    <p>б) Данные не могут передаваться третьим лицам для маркетинговых, коммерческих и иных аналогичных
                        целей, за исключением случаев получения предварительного согласия субъекта Данных.</p>
                    <p>10.5. Сайт содержит ссылки на иные веб-ресурсы, где может находиться полезная и интересная для
                        пользователей Сайта информация. При этом действие настоящей Политики не распространяется на
                        такие
                        иные сайты. Пользователям, переходящим по ссылкам на другие сайты, рекомендуется ознакомиться с
                        политиками об обработке Данных, размещенными на таких сайтах.</p>
                    <p>11. Заключительные положении</p>
                    <p>11.1 Настоящая Политика является локальным нормативным актом Компании.</p>
                    <p>11.2. Настоящая Политика является общедоступной.</p>
                    <p>11.3. Общедоступность настоящей Политики обеспечивается публикацией на Сайте Компании.</p>
                    <p>11.4. Настоящая Политика может быть пересмотрена в любом из следующих случаев:</p>
                    <p>- при изменении законодательства Российской Федерации в области обработки и защиты персональных
                        данных;</p>
                    <p>- в случаях получения предписаний от компетентных государственных органов на устранение
                        несоответствий, затрагивающих область действия Политики;</p>
                    <p>- по решению руководства Компании;</p>
                    <p>- при изменении целей и сроков обработки Данных;</p>
                    <p>- при изменении организационной структуры, структуры информационных и/или телекоммуникационных
                        систем
                        (или введении новых);</p>
                    <p>- при применении новых технологий обработки и защиты Данных (в т. ч. передачи, хранения);</p>
                    <p>- при появлении необходимости в изменении процесса обработки Данных, связанной с деятельностью
                        Компании.</p>
                    <p>11.5. В случае неисполнения положений настоящей Политики Компания и ее работники несут
                        ответственность в соответствии с действующим законодательством Российской Федерации.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__line">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-auto pr-lg-5 d-flex justify-content-center">
                        <a href="#" class="footer__logo logo d-flex">
                            <img src="../img/logo-white.svg" alt="Прачка Сочи">
                        </a>
                    </div>
                    <div class="col-lg pl-xl-5">
                        <ul class="footer__list list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Тарифы</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Все услуги</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Прайс-лист</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">B2B</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-auto d-flex flex-column align-items-center">
                        <a href="tel:+79181234567" class="footer__tel">+7 (918) 12 34 567</a>
                        <div class="footer__social">
                            <div class="footer__text">Рассчитать заказ:</div>
                            <div class="social-network">
                                <ul class="social-network__list list">
                                    <li class="social-network__list-item">
                                        <a href="#" class="social-network__image" target="_blank">
                                            <img src="../img/icons/social-white-wp.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="social-network__list-item">
                                        <a href="#" class="social-network__image" target="_blank">
                                            <img src="../img/icons/social-white-vb.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto d-flex flex-column align-items-center">
                        <a href="#" class="footer__button button button--color-white-mix button--theme-regular mb-2">
                            <span class="button__text">Заказать стирку</span>
                        </a>
                        <a href="#" class="footer__policy">Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="drawer" class="drawer js-drawer sr-only">
        <div class="drawer__inner">
            <div class="drawer__header d-flex align-items-center">
                <a href="/" class="drawer__logo logo">
                    <img src="../img/logo.svg" alt="">
                </a>
                <button data-drawer="drawer" class="hamburger hamburger--3dx d-flex ml-auto js-hamburger" type="button">
                    <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                </button>
            </div>
            <div class="drawer__main">
                <a href="#" class="button shop-cart mb-4 ml-2">
                    <span class="shop-cart__inner">
                        <span class="shop-cart__header">
                            <span class="shop-cart__image"></span>
                            <span class="shop-cart__balloon" data-total-count>0</span>
                        </span>
                        <span class="shop-cart__main">
                            <span class="shop-cart__text">1245 р</span>
                        </span>
                    </span>
                </a>
                <div class="drawer__nav">
                    <ul class="drawer__nav-list list">
                        <li class="drawer__nav-item">
                            <a href="#" class="drawer__nav-link">Тарифы</a>
                        </li>
                        <li class="drawer__nav-item">
                            <a href="#" class="drawer__nav-link">Все услуги</a>
                        </li>
                        <li class="drawer__nav-item">
                            <a href="#" class="drawer__nav-link">Прайс-лист</a>
                        </li>
                        <li class="drawer__nav-item">
                            <a href="#" class="drawer__nav-link">B2B</a>
                        </li>
                        <li class="drawer__nav-item">
                            <a href="#" class="drawer__nav-link">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="drawer__footer">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <a href="tel:+79302333332" class="drawer__tel">+7 <span>(930)</span> 23 33 332</a>
                    <div class="social-network">
                        <ul class="social-network__list list">
                            <li class="social-network__list-item">
                                <a href="#" class="social-network__image" target="_blank">
                                    <img src="../img/icons/social-wp.svg" alt="">
                                </a>
                            </li>
                            <li class="social-network__list-item">
                                <a href="#" class="social-network__image" target="_blank">
                                    <img src="../img/icons/social-vb.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="button button--color-pink button--theme-light button--empty w-100">
                    <span class="button__text">Связаться</span>
                </button>
            </div>
        </div>
    </div>
    <!-- /.drawer -->
    <div class="popup-fancybox popup-fancybox--theme-map" id="map-popup" style="display: none;">
        <div class="popup-fancybox__inner">
            <div class="map">
                <div class="map__input pb-4">
                    <div id="suggest-input">
                        <div class="input-search">
                            <label class="input-search__label">
                                <input type="text" class="input-search__control" placeholder="Введите текст для поиска">
                            </label>
                            <button type="button" class="button input-search__button"></button>
                        </div>
                        <div class="input-validation__message"></div>
                    </div>
                </div>
                <div class="map__box">
                    <div class="map__control" id="map-main"></div>
                    <button type="button" data-yandex-submit
                        class="map__button button button--color-pink button--theme-default mb-2">
                        <span class="button__text">Подтвердить</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- /#CallBack -->

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">×</span>
            <div class="form" id="formModal">
                <div class="form__box">
                    <form class="js-form-validation" novalidate="novalidate">
                        <div class="form__title form__title--gray font-weight-bold text-center">
                            Быстрая
                            заявка
                        </div>
                        <div class="input input--theme-default mb-2">
                            <label class="input__label">
                                <input type="text" name="name" class="input__control" placeholder="Имя" required="">
                            </label>
                            <div class="input-validation__message"></div>
                        </div>
                        <div class="input input--theme-default mb-2">
                            <label class="input__label">
                                <input type="tel" name="tel" class="input__control" placeholder="Телефон" required="">
                            </label>
                            <div class="input-validation__message"></div>
                        </div>
                        <div class="field-location mb-3">
                            <label class="field-location__label">
                                <input data-yandex-input="" type="text" name="address" class="field-location__input"
                                    placeholder="Адрес доставки">
                            </label>
                            <a href="#map-popup" data-fancybox-map="" class="field-location__button button">
                                <span class="field-location__text">Найти меня</span>
                            </a>
                        </div>
                        <div class="checkbox mb-3 pb-1">
                            <label class="checkbox__label">
                                <input type="checkbox" name="agreement" class="checkbox__control">
                                <span class="checkbox__text">
                                    Даю согласие на обработку персональных данных и подтверждаю свое
                                    ознакомление с <a href="#">политикой обработки персональных
                                        данных</a> компании
                                </span>
                            </label>
                            <div class="input-validation__message"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="button button--color-pink button--theme-default"
                                id="submetSucces">
                                <span class="button__text">Отправить</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /#map-popup -->
            <div class="popup-fancybox popup-fancybox--theme-successful" id="successful-send" style="display: none;">
                <div class="popup-fancybox__inner">
                    <div class="icon icon--successful d-flex mx-auto mb-3">
                        <svg width="70" height="70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"
                            fill="currentColor">
                            <path
                                d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26 S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                            <path
                                d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406 l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411 C39.251,14.885,38.62,14.922,38.252,15.336z" />
                        </svg>
                    </div>
                    <div class="text-center">
                        Спасибо!
                        <br>Ваша заявка отправлена.
                        <br>В ближайшее время мы с Вами свяжемся!
                    </div>
                </div>
            </div>
            <!-- /#successful-send -->
        </div>

    </div>

    <!-- Scrool icon -->
    <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
    </a>

    <!-- scrool top -->
    <!-- <script>
        const toTop = document.querySelector(".to-top");

        window.addEventListener("scroll", () => {
            if (window.pageYOffset > 100) {
                toTop.classList.add("active");
            } else {
                toTop.classList.remove("active");
            }
        })
    </script>

    <script>

        let modal = document.getElementById('myModal');
        let btn = document.getElementById("myBtn");
        let span = document.getElementsByClassName("close")[0];
        let succesSend = document.getElementById('successful-send');
        let sendSuccess = document.getElementById('submetSucces');
        let formModal = document.getElementById('formModal');

        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === sendSuccess) {
                modal.style.display = "none";
                succesSend.style.display = "block";
            }
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script> -->
</body>

</html>