.nav {
    &__list {
        display: flex;
    }

    &__list-item {
        display: flex;
        width: 100%;
    }

    &__link {
        width: 100%;
        padding: em(16) em(10);
        line-height: 112%;
        color: inherit;
        text-align: center;
        transition: background-color .1s ease-in;

        &:hover, &:focus {
            color: inherit;
            background-color: #505CEF;
            text-decoration-line: none;
        }
    }
}


@media (max-width: 1199px) {
    .nav {
        &__link {
            font-size: 14px;
        }
    }
}
