.partner-logo {
    position: relative;
    display: flex;
    padding-top: 51.9607843%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
