.section-intro {
    padding: em(60) 0;
    background-repeat: no-repeat;
    background-position: top 10% center;
    background-size: cover;
    min-height: calc(100vh - 151px);
    background-color: #f4f5f7;

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        margin-bottom: em(32, $font-size);
        color: #686868;
    }
}


@media (max-width: 1199px) {
    .section-intro {
        min-height: calc(100vh - 128px);
    }
}

@media (max-width: 992px) {
    .section-intro {
        background-position: top 10% right 45%;
        min-height: calc(100vh - 73px);
    }
}

@media (max-width: 767px) {
    .section-intro {
        background-position: top 10% left;
        min-height: calc(100vh - 58px);
    }
}
