.section-map {
    padding: em(55) 0 em(80);

    &__content {
        $font-size: 18;
        font-weight: 300;
        font-size: em($font-size);
        margin-bottom: em(28, $font-size);
        line-height: 150%;
    }
}


@media (max-width: 1199px) {
    .section-map {
        &__content {
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}

@media (max-width: 575px) {
    .section-map {
        padding: em(40) 0 em(55);
    }
}


/* ====== section map add ===== */

.service-area{
    &__title{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        padding-bottom: 5px;


        color: #000000;
    }
    &__cost{
        display: flex;
    }
}


.area-cost{
    margin-right: 20px;
    &--fiolet{
        
        &::before{
            content:'';
            display: inline-flex;
            width: 20px;
            height: 14px;
            margin-right: 6px;
            
            background-color: #b72dfc;
        }
    }
    &--blue{
       
        &::before{
            content: '';
            display: inline-flex;
            width: 20px;
            height: 14px;
            margin-right: 6px;
            background-color: #2b82cb;
        }
    }
    &--red{
      
        &::before{
            content: '';
            display: inline-flex;
            width: 20px;
            height: 14px;
            margin-right: 6px;
            background-color: #ea4e4f;
        }
    }
}

.mb-xl-5--fix{
    margin-bottom: 2rem !important;
}