.section-about {
    padding-top: em(50);

    &__box {
        border-bottom: 1px solid #303FF0;
    }

    &__image {
        overflow: hidden;
        position: relative;
        padding-top: 100%;

        &--circle {
            border-radius: 50%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        $font-size: 18;
        font-weight: 300;
        font-size: em($font-size);
        margin-bottom: em(28, $font-size);
        line-height: 150%;
    }
}


@media (max-width: 991px) {
    .section-about {
        &__content {
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}

@media (max-width: 575px) {
    .section-about {
        padding-top: em(40);
    }
}
